---
title: BRL Solutions
layout: default
class: home
---

<div class="home-slideshow">
    <div class="description">
        <h1>BRL Solutions</h1>
        <p>
            With <b>25+ years</b> of experience, we provide <b>building</b>, <b>roofing</b> and <b>hard landscaping</b> services
            in and around South Wales. Areas of work currently include:
            <ul class="areas-list">
                {% for area in site.data.services.locations %}
                    <li class="area">{{ area }}</li>
                {% endfor %}
            </ul>
            Friendly and approachable, competitive rates. Please <a href="#contact">contact</a> for a free estimate.
        </p>
        <p>
            All jobs from your simple garden wall to a full extension. Drainage, plastering, carpentry,
            roofing works, flat roofs, pitch roofs and hard landscaping, fencing, turfing, patios and decking.
            Bespoke driveway gates and automation.
        </p>
    </div>
    <div class="slideshow">
        {% for project in site.projects %}
            {% capture cover %}
                assets/img/projects/{{ project.slug }}/{{ project.slug }}_{{ project.images.cover }}.jpg
            {% endcapture %}
            {% picture {{ cover }} class="slide" loading="eager" %}
        {% endfor %}
    </div>
</div>

<div class="home-reviews">
    {% if site.data.reviews %}
    <h2>Customer Reviews</h2>
    <div class="testamonials">
        {% assign reviews = site.data.reviews | sort: 'date' | reverse%}
        {% for review in reviews %}
            <div class="review-container">
                <span class="review-content">{{ review.content }}</span>
                <span class="review-author">{{ review.author}}</span>
                <span class="review-date">{{ review.date | date: '%B %d %Y'}}</span>
            </div>
        {% endfor %}
    </div>
    {% endif %}
</div>

<div id="services" class="home-services">
    <h2>Our services</h2>
    {% assign services = site.data.services.services %}
    {% assign left = services.size | divided_by:2 %}
    {% assign right = left | plus: 1 %}

    {% for service in services %}
        {% assign service_id = service | slugify | prepend: 'services-' %}
        {% assign service_img = '/assets/img/services/' | append: service_id | append: '.jpg' %}
        {% assign service_img_mobile = '/assets/img/services/mobile/mobile-' | append: service_id | append: '.jpg' %}
        {% assign service_class = "service-item" %}
        {% assign side = "left" %}

        {% if forloop.first or forloop.index == right %}
            {% if forloop.index == right %}
                {% assign side = "right" %}
            {% else %}
                {% assign service_class = service_class | append: " mobile" %}
            {% endif %}
            {% assign service_class = service_class | append: " active " | append: side %}

            <style scoped>
                #services-{{ side }} {
                    --service-img-{{ side }}: url({{ service_img }});
                }
            </style>
            <div class="services" id="services-{{ side }}">
            <ul class="services-list">
        {% endif %}
                <style scoped>
                    #{{ service_id }} {
                        background-image: url({{ service_img_mobile }});
                    }
                </style>
                <li onmouseover="hoverImg(this)" class="{{ service_class }}" id="{{ service_id }}">
                    <span class="bullet">&bull;</span>{{ service }}
                </li>
        {% if forloop.index == left or forloop.index == services.size %}
            </ul>
            </div>
        {% endif %}
    {% endfor %}
</div>

<div class="home-projects">
    <h2>Recent projects</h2>
    <div class="projects-gallery">
        {% assign recent_projects = site.projects | sort: 'project_id' | reverse %}
        {% for project in recent_projects limit:3%}
        <a class="project-link" href="{{ project.url }}">
            <span>{{ project.name }}</span>
            {% capture cover %}
                assets/img/projects/{{ project.slug }}/{{ project.slug }}_{{ project.images.cover }}.jpg
            {% endcapture %}
            {% picture cover {{ cover }} class="cover" %}
        </a>
        {% endfor %}
    </div>
    <div class="button-container">
        <a class="more-projects" href="{% link projects.html %}">See all projects</a>
    </div>
</div>

<div id="contact" class="home-contact">
    <h2>Get in touch</h2>
    <div class="contact-wrapper">
        <div class="contact-form">
            <p>Feel free to contact us for a free estimate. You can reach us by email, phone or using the contact form below.</p>
            <ul class="contact-list">
                <li>
                    <span class="contact-icon">{% include graphics/email.svg %}</span>
                    <span class="eaddrfilter">
                        <span class="u">{{ site.data.contact.email.name }}</span>
                        [at]
                        <span class="d">{{ site.data.contact.email.domain }} [dot] com</span>
                    </span>
                </li>
                <li >
                    <span class="contact-icon">{% include graphics/phone.svg %}</span>
                    <span class="phone">{{ site.data.contact.phone }}</span>
                </li>
                {% for media in site.data.contact.social %}
                <li>
                    <span class="contact-icon">{% include {{ media.icon }} %}</span>
                    <a href="{{ media.link }}">
                        {{ media.name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
            <form action="https://formspree.io/f/xqknwvwa" method="POST">
                <label>
                    First name:
                    <input type="text" name="name" placeholder="e.g. John">
                </label>
                <label>
                    Email address:
                    <input type="email" name="email" placeholder="e.g. name@example.com" required="">
                </label>
                <label>
                    Your message:
                    <textarea name="message" placeholder="Leave a message..." required=""></textarea>
                </label>
                <button type="submit">Send</button>
            </form>
        </div>
    </div>
</div>