<header>
    <div class="branding">
        <a class="logo" href="/">
            {% include graphics/brl-solutions-logo.svg %}
            <span class="logo-text">BRL Solutions</span>
            <span class="logo-text sub">Building Roofing & Landscaping</span>
        </a>
        <div class="contact">
            <div class="primary">
                <span class="phone">{{ site.data.contact.phone }}</span>
                <span class="spacer">|</span>
                <span class="eaddr">
                    <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#98;&#114;&#108;&#115;&#111;&#108;&#117;&#116;&#105;&#111;&#110;&#115;&#49;&#50;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">
                        &#98;&#114;&#108;&#115;&#111;&#108;&#117;&#116;&#105;&#111;&#110;&#115;&#49;&#50;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;
                    </a>
                </span>
            </div>
            <div class="secondary">
                {% for media in site.data.contact.social %}
                    <a class="social-icon {{ media.name }}" href="{{ media.link }}">
                        {% include {{ media.icon }} %}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</header>
<nav>
    <ul id="nav-links" class="nav-list">
        <li class="nav-item">
            <a href="/#">Home</a>
        </li>
        <li class="nav-item">
            <a href="/#services">Services</a>
        </li>
        <li class="nav-item">
            <a href="{% link projects.html %}">Projects</a>
        </li>
        <li class="nav-item">
            <a href="{% link gallery.html %}">Gallery</a>
        </li>
        <li class="nav-item">
            <a href="{% link about.html %}">About</a>
        </li>
        <li class="nav-item">
            <a href="/#contact">Contact</a>
        </li>
    </ul>
    <button class="nav-menu" onclick="showNavbar()">
        {% include graphics/menu.svg %}<span class="menu-label">Menu</span>
    </button>
</nav>