<header>
    <div class="branding">
        <a href="/">
            {% include graphics/brl-solutions-logo.svg %}
        </a>
        <div class="contact">
            <div class="primary">
                <span class="phone">{{ site.data.contact.phone }}</span>
                <span class="spacer">|</span>
                <span class="eaddrfilter">
                    <span class="u">{{ site.data.contact.email.name }}</span>
                    [at]
                    <span class="d">{{ site.data.contact.email.domain }} [dot] com</span>
                </span>
            </div>
            <div class="secondary">
                {% for media in site.data.contact.social %}
                    <a class="social-icon {{ media.name }}" href="{{ media.link }}">
                        {% include {{ media.icon }} %}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</header>
<nav>
    <ul id="nav-links" class="nav-list">
        <li class="nav-item">
            <a href="/#">Home</a>
        </li>
        <li class="nav-item">
            <a href="/#services">Services</a>
        </li>
        <li class="nav-item">
            <a href="{% link projects.html %}">Projects</a>
        </li>
        <li class="nav-item">
            <a href="{% link gallery.html %}">Gallery</a>
        </li>
        <li class="nav-item">
            <a href="{% link about.html %}">About</a>
        </li>
        <li class="nav-item">
            <a href="/#contact">Contact</a>
        </li>
    </ul>
    <button class="nav-menu" onclick="showNavbar()">{% include graphics/menu.svg %}</button>
</nav>