<form id="review-form" method="POST" action="{{ site.staticman_url }}">
    <fieldset>
        <label for="review-form-name">Name</label>
        <input type="text" id="review-form-name" name="fields[name]" required="">
    </fieldset>
    <fieldset>
        <label for="review-form-content">Review</label>
        <textarea type="text" rows="3" id="review-form-content" name="fields[review]" required=""></textarea>
    </fieldset>
    <fieldset>
        <label for="review-form-job">Project</label>
        <select name="review-jobs" id="review-form-job">
            <option value="none">Other</option>
            {% for project in site.projects %}
                <option value="{{ project.slug }}">{{ project.name }}</option>
            {% endfor %}
        </select>
        <p>(If you're job isn't listed, please choose 'Other')</p>
    </fieldset>

    <fieldset class="hidden" style="display: none;">
        <!-- Used by Staticman to generate filenames for each review -->
        <input type="hidden" name="options[slug]" value="{{ page.slug }}">
        <input type="text" id="review-form-location" name="fields[hidden]" autocomplete="off">
    </fieldset>

    <fieldset>
        <button type="submit" id="review-form-submit">Submit Review</button>
    </fieldset>
</form>