{%- capture article_class %}js-review review{% if include.name == site.author.name %} admin{% endif %}{% if include.is_reply %} child{% endif %}{% endcapture %}
{% assign review_id = include.uid | prepend: 'review-' %}
<article id="{{ review_id }}" class="{{ article_class }}" uid="{{ include.uid }}">


  <div class="review__content-wrapper">
    <div class="review__author">
      <h3>{{- include.name | strip_html -}}</h3>
    </div>

    <div class="review__date">
      {%- if include.date -%}
      <a href="#{{ review_id}}" title="Permalink to this review">
        {{- include.date | date:"%B %eth, %Y %H:%M" -}}
      </a>
      {%- endif -%}
      </div>
  </div>

  <div class="review__body">
    {{ include.message | strip_html | markdownify | replace: '<a href="http', '<a rel="ugc nofollow" target="_blank" href="http' }}
  </div>

  <div class="review__meta">
    <a rel="nofollow" class="review__reply-link" onclick="return addreview.moveForm('{{ review_id }}', 'respond', '{{ page.slug }}', '{{ include.uid }}')">↪&#xFE0E; Reply to {{ include.name }}</a>
  </div>
</article>

  {%- capture this_uid %}{{ include.uid }}{% endcapture %}
  {%- assign replies = site.data.reviews[page.slug] | where_exp: 'item', 'item.replying_to_uid == this_uid' %}
  {%- assign replies_date = replies | sort: 'date' %}
  {% for reply in replies_date %}
    {%- assign email       = reply.email -%}
    {%- assign name        = reply.name -%}
    {%- assign url         = reply.url -%}
    {%- assign date        = reply.date -%}
    {%- assign message     = reply.message -%}
    {%- assign uid         = reply._id -%}
    {% include review.html is_reply=true uid=uid email=email name=name url=url date=date message=message %}
  {% endfor %}

{% if include.is_reply %}
{% else %}
  <hr style="border-top: 1px solid #ccc; background: transparent; margin-bottom: 10px;">
{% endif %}
