<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{ page.title }} | {{ site.name }}</title>
        <link rel="shortcut icon" href="/assets/img/favicon.ico">
        <link rel=stylesheet type=text/css href="/assets/styles/main.css">
        {% seo %}
    </head>
    <body>
        {% include header.html %}
        {% if layout.class %}
            {% assign content_class = layout.class %}
        {% else %}
            {% assign content_class = page.class %}
        {% endif %}
        <section id="content" class="{{ content_class }}">
            {{ content }}
        </section>
        {% include footer.html %}
        <script type=text/javascript src="/assets/js/script.js"></script>
    </body>
</html>