<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content=
            "Building, roofing and landscaping services based in South Wales. We service Monmouthshire, Gloucestershire, Herefordshire, Bristol and Vale of Glamorgan.">
        <title>{{ page.title }} | {{ site.name }}</title>
        <link rel="shortcut icon" href="/assets/img/favicon.ico">
        <link rel="apple-touch icon" href="/assets/img/favicon.ico">
        <link rel=stylesheet type=text/css href="/assets/styles/main.css?v=1">
        {% seo %}
    </head>
    <body>
        {% include header.html %}
        {% if layout.class %}
            {% assign content_class = layout.class %}
        {% else %}
            {% assign content_class = page.class %}
        {% endif %}
        <section id="content" class="{{ content_class }}">
            {{ content }}
        </section>
        {% include footer.html %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script type=text/javascript src="/assets/js/main.js?v=1"></script>
    </body>
</html>