---
layout: default
class: project-page
---

{% assign project_gallery = site.static_files | where: "project", true | reverse %}
{% assign images = "" | split: "," %}
{% for img in project_gallery %}
    {% assign img_id = img.basename | split: "_" | first %}
    {% if img_id == page.slug %}
        {% assign images = images | push: img %}
    {% endif %}
{% endfor %}

<div class="project-cover">
    <h1>{{ page.name }}</h1>
    <div class="slideshow">
        {% capture cover %}
            assets/img/projects/{{ page.slug }}/{{ page.slug }}_{{ page.images.cover }}.jpg
        {% endcapture %}
        {% picture {{ cover }} class="slide" alt="project cover image" %}

        {% for img in page.images.slides %}
            {% capture slide %}
                assets/img/projects/{{ page.slug }}/{{ page.slug }}_{{ img }}.jpg
            {% endcapture %}
            {% picture {{ slide }} class="slide" alt="project slideshow image" %}
        {% endfor %}
    </div>
</div>

<h2>Project Details</h2>
<div class="project-info">
    <div class="project-description">
        {{ page.description }}
    </div>
    {% assign entry = site.data.reviews | where:"project", page.slug | first %}
    {% if entry %}
    <div class="project-review">
            <span class="review-content">"{{ entry.review }}"</span>
            <span class="review-author">{{ entry.name }}</span>
            <span class="review-date">{{ entry.date | date: '%B %d %Y' }}</span>
        </div>
    {% endif %}
</div>

<h2>Gallery</h2>
{% include image_gallery.html gallery=images %}